@import 'variables';

.about-tea-container {
    display: flex;  
}
.about-tea-container .col-1 {
    flex: 1;
    background-color: lightblue;
    margin: 0 30px 0 0;
}
.about-tea-container .col-2 {
    margin: 0 30px 0 0;
    flex: 2;
    background-color: lightpink;
}
.about-tea-container .col-2 .row-1 ul {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.about-tea-container .col-2 .row-1 ul li {
    cursor: pointer;
    font-weight: normal;
}

.about-tea-container .col-2 .row-3 {
    font-size: 14px;
    font-weight: normal ;
}
.about-tea-container .col-2 .row-4 {
    font-size: 16px;
    background-color: transparent;
    border: 2px solid $bg-color ;
    color: $bg-color;
    padding: 10px 50px 10px;
    transition: color 0.3s;
}

.about-tea-container .col-2 .row-4:hover {
    color: #b14e68;
    border: 2px solid #b14e68;
}