.text-color {
  color: #3e195c; }

.backgound-color {
  background-color: #df6788; }

.text {
  color: #3e195c;
  font-size: 20px; }

.text-big {
  color: #3e195c;
  font-size: 30px; }

.text-v {
  color: #3e195c;
  font-size: 25px; }

.text-sm {
  color: #3e195c;
  font-size: 14px; }

.display-center {
  display: flex;
  justify-content: center;
  text-align: center; }

.carousel {
  margin: 45px 0 0; }

.about-us-container {
  display: flex;
  margin: 40px 0 40px 0; }

.about-us-info {
  flex: 1;
  margin: 40px 0 30px 20px; }

.about-us-info h1, .about-us-info h3, .about-us-info p {
  margin: 10px 0 20px;
  color: #3e195c; }

.about-us-info h1 {
  font-size: 40px; }

.about-us-info p {
  font-size: 20px; }

.about-us-info button {
  font-size: 18px;
  border: 1px solid #df6788;
  border-radius: 4px;
  padding: 12px 43px;
  background-color: transparent;
  color: #df6788;
  transition: background-color 0.3s; }

.about-us-info button:hover {
  color: white;
  background-color: #df6788; }

.about-us-pic {
  flex: 1; }

.about-us-pic img {
  width: 100%;
  border-radius: 5px; }
